.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.ui.card {
  width: 320px;
  padding: 10px;
  border: 1px solid black;
  margin: 0;
  float: left;
  background-color: white;
  text-align: center;
}

.ui.card>.image  {
  height: 600px;
  text-align: center;
}

div.HHlogo {
  text-align: center;
}

h1.MakeAppt {
  font-variant: small-caps;
}

div.headerWithText {
  background-size: cover;
  height: 500px;
  background: url('./assets/images/helping-hands2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

div.headerText {
  text-align: center;
  text-decoration-color: #ff0000;


}

h1.ui.header.headerText {
  color: white;
  text-decoration: underline;
  padding: 70px 0;
  text-shadow: 4px 3px #808080;
  font-size: 50px;
}

h2.ui.header.headerText {
  color: white;
}

h1.JoinUs {
  text-align: center;
}

div.SignUpForm {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -184px;
  margin-left: -188px;
}

div.SPSignUpForm {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -155px;
}

div.inline.fields.signUpRadio {
  text-align: center;
}

div.SignUpPage {
  background-image: url('./assets/images/background.jpg');
  height: 850px;
}

h2.CurrentBookings {
  text-align: center;
}

h1.MakeAppt {
  text-align: center;
}

h3.SideWelcome {
  color: white;
  text-shadow: 3px 1.5px #808080;
}


.container{
    text-align: center;
}

.fixed-footer {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
}

div.PageContainer {
  min-height: 800px;
}
div.BookingContainer {
  min-height: 800px;
}

#modalHeader {
  background-color: #CECACA;
}

div.newJobPage {
  background-image: url('./assets/images/background.jpg');
  height: 821px;
}

div.addingNewJobForm {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -115px;
  margin-left: -184px;
}
